.product-detail-wrapper {

    background-color: #4c956c;
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail-wrapper .product-detail-container {
    background-color: #ffffff75;
    backdrop-filter: blur(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-height: 400px;
    height: 400px;
    width: 800px;
    padding: 0;
}


.product-detail-container .product-detail-row {
    width: 100%;
    padding: 0;
    display: flex;
    min-height: 100%;
}

.product-detail-row .product-detail-img-box{
    width: 50%;
    height: 100%;
}

.product-detail-img-box img{
    width: 100%;
    max-height: 400px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.product-detail-row .product-detail-box{
    width: 50%;
    padding: 25px;
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
}

.product-detail-box li{
    list-style: none;
    font-size: 25px;
    font-weight: 500;
}

.product-detail-box li span{
    font-size: 25px;
    font-weight: 400;
}

.product-detail-box li.sell{
    position: absolute;
    bottom: 5px;
}

.product-detail-box .title-detail{
    font-weight: 700;
    font-size: 32px;
    text-decoration: underline;
}