.projects-update-container {
    max-height: 100vh;
    height: 100%;
    display: flex;
}

.projects-update-container .project-update-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-update-container .project-update-paper {
    display: flex;
    position: absolute;
    max-height: 100vh;
    z-index: 1;
}

.form-project-update {
    width: 500px;
    z-index: 2;
}

.form-project-update h1{
    display: flex;
    justify-content: center;
}

.input-update-box textarea {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    text-indent: 20px;
}

