
.navbar-container{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-container .top-navbar{
    padding: 7px;
    display: flex;
    align-items: center;
    width: 800px;
    height: 100%;
    background-color: #000814;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    
}

.top-navbar .field{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.top-navbar .field.left{
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.top-navbar .field.right{
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
}

.field.right .top{
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: center;
    width: 100%;
}

.field.right .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    position: absolute;
    top: 65px;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #fff;
    z-index: 100;
}

.field.right .bottom.dropdown-active{
    display: none;
}

.bottom .log{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.bottom .log:hover{
    background-color: blue;
}

.profil{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: red;
}


.top-navbar .title-field{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20%;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.top-navbar .icon{
    font-size: 25px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    transition: all 0.1s linear;
}

.top-navbar .icon:hover{
    font-size: 30px;
    font-weight: 600;
    color: red;
}

.gem{
    position: absolute;
    bottom: -72px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80px;
    color: #fff;
    z-index: 90;
    cursor: pointer;
    transition: all 0.3s linear;
    text-shadow: 0 10px 10px #95ecff;
}

.gem:hover{
    text-shadow: 0 10px 10px #4876ff;
}
