.works-add-container {
    max-height: 100vh;
    height: 100%;
    display: flex;
}

.works-add-container .work-add-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.work-add-container .work-add-paper {
    display: flex;
    position: absolute;
    max-height: 100vh;
    z-index: 1;
}

.form-work-add {
    width: 500px;
    z-index: 2;
}

.form-work-add h1{
    display: flex;
    justify-content: center;
}

.form-work-add label{
    font-size: 25px;
    color: #000814;
    text-shadow: 0 5px 10px #fff;
}

.input-add-box textarea {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    text-indent: 20px;
}