.homes-container {
    min-height: 100vh;
    max-height: 100vh;
    padding: 60px 10px 10px 10px;
    position: relative;
    padding: 0;

}


.homes-container .home-container {
    min-width: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 5px 15px #000814;
    border: 5px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.transparent-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.449);
    z-index: 55;
    box-shadow: 0 15px 20px #000814;
}

.home-title-big {
    z-index: 88;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    background-color: #ffffff51;
    backdrop-filter: blur(1px);
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
}

.home-search-box {
    z-index: 88;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    background-color: #ffffff51;
    backdrop-filter: blur(10px);
    border: 2px solid #fff;
    border-radius: 20px 20px 0 0;
    width: 450px;
    height: 90px;
}

.home-search-box input{
    background: none;
    width: 100%;
    border-radius: 20px 20px 0 0;
    outline: none;
    border: none;
    text-indent: 10px;
    color: #fff;
}

.home-search-box input::placeholder{
    color: #fff;
    font-size: 25px;
}

.home-search-box .search{
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
}

.home-search-box .bottom-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: red;
}