.homes-container {
    min-height: 100vh;
    max-height: 100vh;
    padding: 60px 10px 10px 10px;
    position: relative;
    padding: 0;
 
}


.homes-container .home-container {
    min-width: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}