.works-container {
    min-height: 100vh;
    max-height: 100vh;
    padding: 60px 10px 10px 10px;
    position: relative;
    padding: 0;
}

.works-container .work-container {
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1.5);
}

.work-paper {
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    object-fit: cover;
    position: absolute;

}

.work-container .work-navbar {
    z-index: 3;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #f5ebe0;
    align-items: center;
    margin: 0 auto;
    padding: 0 150px;
    position: relative;
}

.work-navbar .icon-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: 500;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #000814;
    color: #fff;
    transition: all 0.2s linear;
}

.work-navbar .icon-edit:hover{
    background-color: #fff;
    color: #000814;
}


.work-navbar .meram-work {
    font-size: 40px;
    margin-left: 20px;
    font-weight: 500;
}

.work-navbar i {
    font-size: 80px;
}

.work-container .work-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    z-index: 2;
    margin-top: 30px;
}