.product-card-wrapper{
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    max-height: 320px;
    height: 100%;
    min-height: 320px;
    border: 3px solid #fff;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.product-card-wrapper .product-card-image-box{
    width: 100%;
    min-height: 200px;
    height: 100%;
    max-height: 200px;
    border:3px solid #fff;
}

.product-card-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card-wrapper .product-card-body-box{
    background-color: #457b9d;
    height: calc(100% - 200px);
    border-radius: 6px;
    border: 3px solid #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-body-box .body-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #1f1f1f;
    letter-spacing: 1px;
}

.body-box .product-name{
    font-size: 20px;
    font-weight: 700;
}

.product-card-body-box .product-btn-box{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.product-btn-box i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
}

.product-btn-box i:hover{
    color: #000814;
    transform: scale(1.4);
    font-weight: 900;
}

.product-btn-box button{
    width: calc(100% - 10px);
    height: 100%;
    border: 2px solid #fff;
    background-color: rgb(255, 0, 0);
    color: #fff;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.2s linear;
}

.product-btn-box button:hover{
    background-color: rgb(89, 255, 0);
    color: #000814;
    border:2px solid #000814;
}