.card-box{
    width: 500px;
    max-height: 150px;
    min-height: 150px;
    height: 100%;
    display: flex;
    border-radius: 10px 0 0 10px;
    background-color: #ffffff6b;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.card-box:hover{
    background-color: darkturquoise;
}

.card-box .work-info{
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 32px;
    visibility: hidden;
    color: #fff;
    text-shadow: 0 5px 10px #000814;
    transition: all 0.2s linear;
}

.card-box .newspaper-info:hover {
    color: #fe5e71;
}

.card-box:hover .work-info{
    visibility: visible;
}

.card-box img{
    object-fit: cover;
    max-width: 150px;
    min-height: 150px;
    border-radius: 10px 0 0 10px;
}

.card-box .work-body{
    padding: 15px;
}

.work-body .work-description{
    word-break: break-all;
    
}


.work-body .icon-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1px;
    top: 100px;
    font-size: 22px;
    font-weight: 500;
    color: #000814;
    height: 40px;
    width: 40px;
    border: 2px solid #000814;
    border-radius: 6px;
    background-color: #fff;
    transition: all 0.2s linear;
    visibility: hidden;
}

.card-box:hover .icon-edit{
    visibility: visible;
}


.work-body .icon-edit:hover{
    background-color: #000814;
    color: #fff;
}


.icon-edit.pen{
    position: absolute;
    top: 55px;
    right: 1px;
}